@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/Public Sans/PublicSans-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/Public Sans/PublicSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/Public Sans/PublicSans-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/Public Sans/PublicSans-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Public Sans';
    src: url('../fonts/Public Sans/PublicSans-Bold.ttf');
    font-weight: 700;
}


html, body {
    margin: 0;
    padding: 0;
    width: 310px;
    height: auto;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

#popup {
    display: block;
    width: 620px;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
    font-family: 'Public Sans';
    font-size: 13px;
    font-weight: 400;
    color: black;
}

#loading {
    animation: spin 1s infinite linear;
}

#default {
    padding: 10px 0;
}

#default, #analysis {
    display: none;
}

#popup-content {
    display: table-cell;
    position: relative;
    left: 0;
    width: 310px;
    padding: 30px;
}

.small-heading {
    font-size: 12px;
    font-weight: 400;
    color: #888888;
    margin-top: 15px;
    margin-bottom: 10px;
    position: relative;
    cursor: default;
}

    .small-heading .tooltip-hover {
        display: inline-block;
        vertical-align: baseline;
        margin-right: 3px;
        transition: all 0.2s ease;
        position: relative;
    }

    .small-heading .tooltip-hover .tooltip-info-icon {
        border-radius: 50%;
    }

    .small-heading .tooltip-hover:hover .tooltip-info-icon {
            background-color: #CCCCCC;
        }

    .small-heading .tooltip-hover .tooltip-triangle {
        position: absolute;
        top: -6px;
        left: -1px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
    }

        .small-heading .tooltip-hover:hover .tooltip-triangle {
            visibility: visible;
            opacity: 1;
        }

    .small-heading .tooltip-body {
        visibility: hidden;
        opacity: 0;
        max-width: 90%;
        text-align: left;
        font-weight: 300;
        font-size: 12px;
        line-height: 13px;
        display: inline-block;
        position: absolute;
        bottom: 20px;
        left: 10px;
        background-color: black;
        border-radius: 3px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        color: white;
        padding: 10px;
        transition: all 0.3s ease;
    }

        .small-heading .tooltip-hover:hover + .tooltip-body {
            visibility: visible;
            opacity: 1;
        }

#outlet {
    display: inline-block;
    max-width: 90%;
    margin: 0 auto;
}

    #outlet td {
        width: auto;
        padding: 0;
    }

    #outlet #ml-logo {
        vertical-align: text-bottom;
        margin-right: 10px;
    }

#outlet-name {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

#bias-rating {
    font-size: 27px;
    margin-top: -7px;
    margin-bottom: -5px;
    font-weight: 700;
    line-height: 26px;
}

#bias-spectrum {
    display: none;
    margin: 6px auto;
    width: 75%;
    height: 7px;
    background: linear-gradient(90deg, #0243ff, #ecd9ea, #ff0539);
    border-radius: 5px;
}

    .bias-arrow {
        filter: brightness(.1);
        opacity: 0;
    }

    #bias-arrow-top {
        display: none;
        width: 100%;
        margin-top: 6px;
        margin-bottom: -5px;
    }

        #bias-arrow-top img {
            position: relative;
            left: 0;
            transform: rotate(90deg);
        }

    #bias-arrow-bottom {
        display: none;
        width: 100%;
        margin-top: -3px;
    }

        #bias-arrow-bottom img {
            position: relative;
            left: 0;
            transform: rotate(-90deg);
        }

#factuality {
    display: none;
}

    #factuality-text {
        font-size: 33px;
        font-weight: 700;
        letter-spacing: -1px;
        display: inline-block;
        margin-top: -8px;
        margin-left: 5px;
        color: #888888;
    }

        #factuality-text.mixed {
            color: #FF9900;
        }

        #factuality-text.mostly {
            color: #F1DE0C;
        }

        #factuality-text.high {
            color: #00CC4D;
        }

        #factuality-text.low {
            color: #FF002A;
        }

#citations {
    display: none;
}

    #citation-list {
        font-size: 13px;
        font-weight: 600;
        line-height: 18px;
        color: #E30322;
        display: block;
        width: 90%;
        margin: -5px auto 25px auto;
        padding: 10px 10px;
        background-color: rgba(227, 3, 33, 0.075);
        border-radius: 4px;
    }

hr {
    border: none;
    border-bottom: 1px solid #e2e2e2;
}

    hr.large {
        width: 85%;
        margin-top: 15px;
    }

    hr.small {
        width: 65%;
        margin-top: 15px;
        margin-bottom: 15px;
    }

#press-rank {
    display: none;
}

    #press-rank .small-heading {
        margin-top: 20px;
    }

#country-flag {
    display: none;
    vertical-align: text-top;
}

#country-name {
    font-size: 15px;
    font-weight: 700;
    margin-left: 2px;
}

    #country-name a {
        cursor: pointer;
        color: black;
        border-bottom: 1px solid #DEDEDE;
        transition: all 0.2s ease;
    }

        #country-name a:hover {
            color: #666666;
        }

#ranking {
    display: inline-block;
    width: auto;
    margin-top: 12px;
    margin-bottom: 0;
    padding: 0 10px 10px 10px;
    border-radius: 4px;
    cursor: default;
}

    #ranking table {
        margin-bottom: -3px;
    }

    #ranking.red {
        background-color: rgba(255, 0, 43, 0.11);
    }

    #ranking.orange {
        background-color: rgba(255, 153, 0, 0.171);
    }

    #ranking.yellow {
        background-color: rgba(241, 222, 12, 0.185);
    }

    #ranking.green {
        background-color: rgba(0, 204, 78, 0.164);
    }

    #ranking #rank-icon {
        margin-right: 5px;
    }

    #ranking #rank-num {
        font-size: 40px;
        font-weight: 700;
        display: block;
        margin: 0;
    }

        #ranking.red #rank-num {
            color: #FF002A;
        }

        #ranking.orange #rank-num {
            color: #FF9900;
        }

        #ranking.yellow #rank-num {
            color: #F1DE0C;
        }

        #ranking.green #rank-num {
            color: #00CC4D;
        }

    #ranking #out-of {
        font-size: 13px;
        display: block;
        font-weight: 300;
        margin-top: -6px;
    }

.footer, .footer a {
    font-size: 10px;
    color: #999999;
}

    .footer .beta {
        display: inline-block;
        margin-left: 4px;
        position: relative;
        top: -1px;
        font-size: 6px;
        color: #FF002A;
        text-transform: uppercase;
    }

    .footer a:hover {
        text-decoration: underline;
    }

    .footer #mbfc-link {
        display: block;
        margin-bottom: 5px;
        font-size: 13px;
        color: rgb(41, 126, 255);
    }

    .footer .pref-icon {
        vertical-align: middle;
        cursor: pointer;
        transition: all 0.2s ease;
    }

        .footer .pref-icon:hover {
            filter: brightness(0.5)
        }

#preferences {
    display: table-cell;
    position: relative;
    left: 0;
    width: 310px;
    text-align: left;
}

    #preferences #preferences-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        width: 100%;
    }

    #preferences #pref-back {
        display: inline-block;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 12px;
        color: #999999;
        cursor: pointer;
        transition: all 0.2s ease;
    }

        #preferences #pref-back img {
            vertical-align: middle;
        }

        #preferences #pref-back:hover {
            filter: brightness(0.5);
        }

    #preferences #pref-title {
        font-weight: 600;
        font-size: 18px;
        display: block;
        margin-bottom: 5px;
    }

        #preferences #pref-title img {
            vertical-align: middle;
            margin-right: 4px;
        }

    #preferences #pref-changes {
        font-size: 10px;
        color: #777777;
        display: block;
        margin-bottom: 15px;
    }

    #preferences .pref-section-title {
        display: block;
        width: 75%;
        font-weight: 400;
        font-size: 15px;
        padding-top: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
        border-top: 1px solid #e2e2e2;
    }

    #preferences .switch {
        position: relative;
        display: table;
        cursor: pointer;
        padding: 10px 0;
        width: 100%;
        border-radius: 3px;
        transition: all 0.2s ease;
    }

        #preferences .switch:hover {
            background-color: #F2F2F2;
        }

        #preferences .switch-slider, #preferences .switch-text {
            display: table-cell;
            vertical-align: middle;
        }

        #preferences .switch-slider {
            width: 27px;
        }

        #preferences .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        #preferences .slider {
            display: inline-block;
            position: absolute;
            width: 27px;
            height: 16px;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #bbbbbb;
            transition: all 0.2s ease;
            border-radius: 34px;
            transform: translateY(-50%);
        }

            #preferences .switch:hover .slider {
                left: 8px;
            }

        #preferences .slider:before {
            position: absolute;
            content: "";
            height: 14px;
            width: 14px;
            bottom: 1px;
            left: 1px;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: all 0.2s ease;
            border-radius: 50%;
        }

        #preferences input:checked + .slider {
            background-color: #00CC4D;
        }

        #preferences input:checked + .slider:before {
            transform: translateX(11px);
        }

        #preferences .switch-text {
            padding-left: 15px;
            color: #222222;
            transition: all 0.2s ease;
            line-height: 18px;
        }

            #preferences .switch:hover .switch-text {
                padding-left: 23px;
            }

            #preferences .switch-text .subtext {
                display: block;
                margin-top: 2px;
                font-size: 10px;
                line-height: 13px;
                color: #777777;
            }

        #preferences #privacy-link {
            display: inline-block;
            font-size: 13px;
            margin-top: 10px;
            color: rgb(41, 126, 255);
        }

            #preferences #privacy-link:hover {
                text-decoration: underline;
            }

body.dark {
    background-color: #020202;
}

    body.dark #popup {
        background-color: #020202;
        color: white;
    }

    body.dark #outlet-name {
        color: white;
    }

    body.dark .small-heading .tooltip-body {
        background-color: #111111;
    }

    body.dark .small-heading .tooltip-hover .tooltip-triangle {
        filter: invert(100%) brightness(0.08);
    }

    body.dark .bias-arrow {
        filter: brightness(2);
    }

    body.dark hr {
        border-color: #222222;
    }

    body.dark #country-name a {
        color: #DDDDDD;
        border-bottom: 1px solid #555555;
    }

        body.dark #country-name a:hover {
            color: #888888;
        }

    body.dark .footer, body.dark .footer a  {
        color: #777777;
    }

    body.dark .pref-icon {
        opacity: 0.6;
    }

    body.dark #preferences .pref-section-title {
        border-color: #333333;
    }

    body.dark #preferences .switch-text {
        color: #DDDDDD;
    }

    body.dark #preferences .slider {
        background-color: #444444;
    }

    body.dark #preferences input:checked + .slider {
        background-color: #00b445;
    }

    body.dark #preferences .switch:hover {
        background-color: #111111;
    }
